apiVersion: v1
kind: ConfigMap
metadata:
  name: priority-backend-config
  namespace: temporal-priority-demo
data:
  application.yaml: |
    server:
      address: 0.0.0.0
      port: 7080
    
    management:
      endpoints:
        web:
          exposure:
            include: prometheus,temporalworkerinfo
    
    spring:
      application:
        name: priority-service
      web:
        cors:
          allowed-origins:
            - "*"  # Configure appropriately for your domain
          allowed-methods:
            - GET
            - POST
          allowed-headers: "*"
          allowed-credentials: true
    
      temporal:
        namespace: ${TEMPORAL_NAMESPACE}
        workersAutoDiscovery:
          packages:
            - com.demo.priority
        connection:
          target: ${TEMPORAL_ADDRESS}
    
        workers:
          - name: PriorityWorkflow
            task-queue: PriorityWorkflowTQ
            workflow-classes:
              - com.demo.priority.service.workflows.PriorityWorkflowImpl
            capacity:
              max-concurrent-workflow-task-pollers: 10
          - name: PriorityActivity
            task-queue: PriorityActivityTQ
            activity-beans:
              - priorityActivityImpl
            capacity:
              max-concurrent-activity-executors: 5
          - name: Fairness
            task-queue: fairness-queue
            workflow-classes:
              - com.demo.priority.service.workflows.FairnessWorkflowImpl
            activity-beans:
              - fairnessActivityImpl
            capacity:
              max-concurrent-workflow-task-pollers: 10
              max-concurrent-activity-executors: 5

